*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.main{
        text-align: center;
        margin-top: 50px;
    }
    .title p{
        font-family: 'Baloo Tammudu 2', cursive;
        font-size: 30px;
    }
    .login p {
        font-family: 'Viaoda Libre', cursive;
    }
    .settings p,a {
        font-family: 'Viaoda Libre', cursive;
    }
    a{
        text-decoration: none;
        color: black;
    }

    /*.settings p:nth-last-child(1) {
         font-family: 'Baloo Tammudu 2', cursive;
        font-size: 30px;
    } */